* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.anuncio-superior {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 20px;
  width: 100vw;
  text-align: center;
  background-color: black;
  color: aliceblue;
  font-family: 'Ubuntu', sans-serif;
  grid-area: anuncio; }

nav ul {
  display: flex;
  flex-direction: row;
  text-align: left;
  text-decoration: none;
  list-style: none; }

nav li {
  text-decoration: none; }

nav a {
  color: #2c2cd0;
  font-size: 30px;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 20px;
  display: block; }
  nav a:hover {
    color: #139748; }

.logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none; }

.encabezado {
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  list-style: none;
  background-color: rgba(80, 168, 200, 0.601);
  height: auto;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  grid-area: lista; }

.banner {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100%;
  grid-area: banner; }
  .banner img {
    height: 250px;
    width: 100vw; }

.grid-container-header {
  width: 100vw;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 30px 80px 250px;
  justify-items: center;
  align-items: stretch;
  grid-template-areas: "anuncio anuncio" "lista lista" "banner banner"; }

.pie-de-pagina {
  background-color: rgba(72, 111, 174, 0.841);
  text-decoration: none;
  list-style: none;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: space-around;
  font-family: 'Source Sans Pro', sans-serif;
  align-content: space-evenly;
  flex-wrap: wrap;
  align-items: center; }

.redes {
  font-weight: 700;
  font-size: 15px;
  justify-content: space-evenly; }

.redes-sociales ul {
  justify-content: space-evenly;
  display: flex;
  list-style: none; }

.redes-sociales h2 {
  margin-bottom: 10px; }

.datos h2 {
  display: flex;
  font-size: 20px;
  color: black;
  flex-direction: row;
  margin-bottom: 5px; }

.datos li {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-decoration: none;
  font-size: 15px; }
