$color_header:rgba(80, 168, 200, 0.601);
$color_main:rgba(97, 156, 158, 0.608);
$color_texto_titulos: brown;
$color_aside:lightcyan;
$color_titulo_aside:blue;
$color_texto_notas:rgba(31, 71, 100, 0.692);
$color_footer:rgba(72, 111, 174, 0.841);
