.grid-container-main{
    background-color:$color_main;
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 50px 150px 450px 50px;
    justify-items: center;
    align-items: center;
    grid-template-areas:
    ". . . . . . "
    "titulo titulo titulo titulo titulo titulo  "
    "caja1 caja2 caja3 caja4 caja5 caja6  "
    ". . . . . . ";
}
.titulo{
    font-family: 'Ubuntu', sans-serif;
    width: 100vw;
    height: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    color: $color_texto_titulos;
    grid-area: titulo  ;
}
.box{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    text-align: center;
    padding: 10px;
    
}
.sombra{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 6px;
&:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}
}
.box1{
    
background-color: rgba(0, 255, 255, 0.484);
grid-area: caja1

}
.box2{
    
background-color: rgba(255, 0, 0, 0.445);
grid-area: caja2;
}
.box3{
    
background-color: rgba(0, 0, 255, 0.359);
grid-area: caja3;
}
.box4{
    
background-color: rgba(0, 128, 0, 0.336);
grid-area: caja4;
}
.box5{
    
background-color: rgba(238, 130, 238, 0.337);
grid-area: caja5;
}
.box6{
    
background-color: rgba(255, 255, 0, 0.327);
grid-area: caja6;
}
.box7{
background-color: rgba(128, 128, 128, 0.384);
}
.box8{
    background-color: rgba(127, 255, 212, 0.716);
}
.card-imagen{
    width: 150px;
    height: 130px;
    transition: transform .2s; 
&:hover {
    transform: scale(1.2);

}
}
.contenido{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2px 16px;
}
/*aside*/
.noticias{
    background-color: lightcyan;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-evenly;
    align-items: flex-start;
}
.notaimg{  
    width: 200px;
    height: 200px;  
}
.nota1{
    text-align: center;
grid-area: noticia1;
}
.nota2{
    text-align: center;
    grid-area: noticia2;
}
.nota3{
    text-align: center;
    grid-area: noticia3;
}
.grid-container-aside{
    background-color:$color_aside;
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 18px 70px 400px 30px;
    justify-items: center;
    align-items: center;
    grid-template-areas:
    ". . .  "
    "titulo titulo titulo  "
    "noticia1 noticia2 noticia3  "
    ". . .  ";
    h3{
        color:$color_titulo_aside;
        font-size: 35px;
    }
    p{
        font-size: 25px;
        color: $color_texto_notas;
    }
        
    
}